<%= simple_form_for @user do |form| %>
    <div class="form-row">
        <div class="form-group col-md-6 col-6 align-self-end">
            <label for="user-name">Full name</label>
            <%= form.text_field :name, id: "user-name", class: "form-control" %>
        </div>
        <div class="form-group col-md-6 col-6">
            <label for="user-birthday">Date of birth <em>(DD/MM/YYYY)</em></label>
            <%= form.text_field :age, id: "user-birthday", class: "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 col-6">
            <%= form.input :email, id: "user-email", class: "form-control" %>
        </div>
        <div class="form-group col-md-6 col-6">
            <%= form.input :password, id: "user-password", class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <label for="user-address">Address</label>
        <%= form.text_area :address, id: "user-address", class: "form-control", placeholder: "1234 Main St" %>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="user-city">City</label>
            <%= form.text_field :address, id: "user-city", class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
            <label for="user-zip">Zip</label>
            <%= form.text_field :address, id: "user-zip", class: "form-control" %>
        </div>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
