<div class="container">
  <h1>Your Bookings</h1>
  <div class="row">
    <% if current_user.bookings[0].nil? %>
    <div class="alert alert-warning">
      <p>You have no bookings yet</p>
    </div>
<% else %>
<% current_user.bookings.each do |booking| %>
<div class="col-lg-3 col-md-6 col-12 py-3">
  <div class="card-rounded" style="background-color: rgba(245, 245, 245, 0.5)">
    <%= cl_image_tag booking.car.thumbnail.key, height: 200, crop: :fit, class: "card-img-top"%>
    <%= link_to "+", booking_path(booking), method: :delete, class: "card-remove-link" %>
    <div class="card-body"><%= booking.car.model %>
      <p><%= booking.start_date %> - <%= booking.end_date %></p>
      <%= link_to "", car_path(booking.car), class: "fas fa-info-circle" %>
    </div>
  </div>
</div>
  <% end %>
  <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "sweetalert_delete_booking.js" %>
<% end %>

