<style>
  body {
  overflow: hidden;
}
.form-control:disabled, .form-control[readonly] {
    background-color: rgba(255,255,255,0.3);
}
</style>
<div class="backgroundhome">
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "search.js" %>
<% end %>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "backgroundblur.js" %>
<% end %>
<div class="container pt-5" style="margin: auto;">
   <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
   <% end %>
    <img src="https://res.cloudinary.com/dbqegklxb/image/upload/v1582629687/Website%20Assets/navlogo_fvms1n.png" alt="rent my ride logo" class="w-100">
    <div class="coordinates"></div>
</div>
</div>
    <form action="/cars" method="GET">
        <div class="form-row m-auto">
                <div class="col-lg-6 col-8">
                    <input type="text" class="form-control" name="query" placeholder="Find cars in your area" id="location-input">
                </div>
                <div class="col-lg-2 col-8">
                    <input type="text" placeholder="Availability from" class="form-control datepicker" name="start_date" data-id="rangePlugin">
                </div>
                <div class="col-lg-2 col-8">
                    <input type="text" placeholder="Until" class="form-control datepicker" name="end_date" id="secondRangeInput">
                </div>
                <div class="col-lg-2 col-4 d-flex justify-content-center" style="margin-left: -37px;">
                    <button type="submit" class="btn btn-primary" id="submit-button">Find Cars</button>
                </div>
    <div class="container text-center mt-5">
    <h2>Rent the car of your dreams to go for the ride of your life</h2>
    </div>
        </div>
      </div>
    </form>
