  <%= cl_image_tag car.thumbnail.key, class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text">
      <%= car.model %>
      <br>
      <%= car.location %>
      <br>
      <strong><%= car.price %></strong> € per day
      <br>
      <%= link_to " Rent this car", new_car_booking_path(car), class: "btn btn-primary",style: "color: white" %>
    </p>
  </div>

