  <%= cl_image_tag car.thumbnail.key, class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text">
      <%= car.model %>
      <%= car.location %>
      <strong><%= car.price %></strong> € per day
      <%= link_to "", new_car_booking_path(car), class: "fas fa-key", style: "text-decoration: none; color: black"%>
    </p>
  </div>

