<div class="container py-3">
<p>All your cars</p>
</div>

<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
        <div class="col-lg-3 col-md-6 col-12 py-3">
            <div class="card rounded" style="background-color: rgba(245, 245, 245, 0.5)">
                <%= cl_image_tag car.photo.key, class: "card-img-top" %>
                    <div class="card-body">
                      <ul style="list-style: none">
                      <li><strong>Model: </strong><%= car.model %></li>
                      <br>
                      <li><strong>Location: </strong><%= car.location %></li>
                      <br>
                      <li><strong>Price Per Day: </strong><%= car.price %></li>
                      <br>
                      <li><strong>Description: </strong>"<%= car.description %></li>
                      <br>
                      <li><strong>Horsepower: </strong><%= car.horsepower %></li>
                      </ul>
                    </div>
            </div>
        </div>
    <% end %>
  </div>

<%= link_to "Add a car", new_car_path, class: "btn btn-primary" %>
</div>
