
<div class="container py-3">
<h2>All your cars</h2>
</div>

<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
            <div class="bg-light rounded w-100 d-flex p-3 mt-3" style="background-color: rgba(245, 245, 245, 0.5)">
                <%= cl_image_tag car.thumbnail.key, height: 200, class: "" %>
                    <div class="card-body">
                      <ul style="list-style: none">
                      <li><strong>Model: </strong><%= car.model %></li>
                      <br>
                      <li><strong>Location: </strong><%= car.location %></li>
                      <br>
                      <li><strong>Price Per Day: </strong><%= car.price %>€</li>
                    </div>
                      <div class="row">
                        <p class="cardescription"><strong>Description: </strong>"<%= car.description %>"</p>
                      </div>
                      <div class="row">
                      <%= link_to "", edit_owner_car_path(car), class: "fas fa-edit col-1" %>
                      <%= link_to "", owner_car_path(car), method: :delete, class: "fas fa-ban card-remove-link col-1" %>
                      </div>
            </div>
    <% end %>
<%= link_to "Add a car", new_car_path, class: "btn btn-primary mt-5" %>
  </div>
</div>
