<h1>All my Cars</h1>

<ul style="list-style: none">

  <% if @cars.first %>
    <% @cars.each do |car| %>
      <li><%= image_tag car.attached_pics, width: 400, height: 300, crop: :fill %></li>
      <li><%= car.model %></li>
      <li><%= car.location %></li>
      <li><%= car.price %></li>
      <li><%= car.description %></li>
      <li><%= car.horsepower %></li>

      <% car.bookings.each do |booking| %>
        <li><%= booking.user.name %></li>
        <li>Start date: <%= booking.start_date %></li>
        <li>End date: <%= booking.end_date %></li>
      <% end %>

      <%= link_to "Delete car", owner_car_path(car), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary m-3" %>
    <% end %>
  <% end %>
</ul>


